<div>
    <p>
        <%= company[:symbol] %>
    </p>
    <p>
        <%= company[:name] %>
    </p>
    <p>
        <%= company[:ceo] %>
    </p>
    <p>
        <%= company[:value] %>
    </p>
    <p>
        <%= company[:latest_price] %>
    </p>
    <p>
        <%= company[:percent] %>
    </p>
</div>