<section class="resultCard centered">
    <table>
        <thead>
            <tr>
                <th>Company's symbol</th>
                <th>Company's name</th>
                <th>Company CEO</th>
                <th>Company value (USD)</th>
                <th>Company current value</th>
                <th>Company percent</th>
                <th>Company Prices</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><b><%= company[:symbol] %></b></td>
                <td><b><%= company[:name] %></b></td>
                <td><b><%= company[:ceo] %></b></td>
                <td><b><%= company[:value] %></b></td>
                <td><b><%= company[:latest_price] %></b></td>
                <td><b><%= company[:percent] %></b></td>
                <td><b><%= company[:chart] %></b></td>
                <% if !Stock.verify(current_user, company[:symbol]) %>
                    <td><%= button_to 'Track stock', add_stock_path(company: company), method: :post, class:"trackStockButton" %></td>
                <% else %>
                    <td><span class="new badge red">You're already tracking this stock.</span></td>
                <% end %>
            </tr>
        </tbody>
    </table>
</section>