<section class="resultCard centered">
    <table>
        <thead>
            <tr>
                <th>Company's symbol</th>
                <th>Company's name</th>
                <th>Company CEO</th>
                <th>Company value (USD)</th>
                <th>Company current value</th>
                <th>Company percent</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><b><%= company[:symbol] %></b></td>
                <td><b><%= company[:name] %></b></td>
                <td><b><%= company[:ceo] %></b></td>
                <td><b><%= company[:value] %></b></td>
                <td><b><%= company[:latest_price] %></b></td>
                <td><b><%= company[:percent] %></b></td>
                <td><%= button_to 'Track stock', add_stock_path(company: company), method: :post, class:"new badge green" %></td>
            </tr>
        </tbody>
    </table>
</section>