<td><%= stock.company_symbol %></td>
<td><%= stock.company_name %></td>
<td><%= stock.company_ceo %></td>
<td><%= stock.company_value_usd %></td>
<td><%= stock.company_latest_price %></td>
<% if stock.company_percent >= 0 %>
    <td><span class="colorStockGreen"><%= stock.company_percent %></span></td>
<% else %>
    <td><span class="colorStockRed"><%= stock.company_percent %></span></td>
<% end %>
<td><%= button_to "Remove", remove_stock_path(stock: stock.id), method: :delete, class:"removeStockButton" %></td>
<td><%= button_to "Update", see_more_path(stock: stock.id), method: :patch, class:"updateStockButton" %></td>
<td><%= link_to "Historical prices", get_prices_path(stock: stock.id), class:"updateStockButton" %></td>