<div class="mainSection">
    <div>
        <h1>
            Tracking stocks.
        </h1>
    </div>
    <div>
        <p>
            These are some of the companies that you can track. <br>
            In order to do that, you must type the <b>Company Symbol</b> and click on the submit button. <br>
            (Ej. Microsoft => MSFT)
        </p>
        <p>
            In order to get the Companies' symbols, you can click in the link below to get more information. <br>
            <%= link_to "Companies symbols", "https://iextrading.com/trading/eligible-symbols", :target => "_blank" %>
        </p>
    </div>
</div>

<br>

<%= render 'stocks/cardexamples' %>

<br>

<%= render 'stocks/form' %>

<% if !@company.nil? %>
    <div class= "centerContent">
        <p class="userSearchStock">
            You look up for: <b> <%= params[:stock_symbol] %> </b>
        </p>
    </div>
    <div class= "centerContent">
        <p>
            <%= render 'stocks/result', company: @company %>
        </p>
    </div>
<% else %>
    <div class= "centerContent">
        <h4>
            Right now, there's nothing to show.
        </h4>
        <p>
            In the form above, type a company symbol in order to get more information. <br>
            If you don't know what can you look up, click on the next link. <br>
            <%= link_to "Companies symbols", "https://iextrading.com/trading/eligible-symbols", :target => "_blank" %>
        </p>
    </div>
<% end %>
