<nav>
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li>
                <%= link_to "BawSaq", root_path, class:"brand-logo" %>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
        <% if !current_user %>
            <li>
                <%= link_to "Sign in", new_user_session_path, class:"waves-effect waves-light btn-small" %>
            </li>
            <li>
                <%= link_to "Create an account", new_user_registration_path, class:"waves-effect waves-light btn-small" %>
            </li>
        <% else %>
            <li>
                <%= link_to "Search stock", stocks_search_path %>
            </li>
            <li>
                <%= link_to "My stocks", stocks_path %>
            </li>
            <li>
                <%= link_to "#{current_user.email}", edit_user_registration_path %>
            </li>
            <li>
                <%= link_to "Sign out", destroy_user_session_path, "data-turbo-method": :delete, class:"waves-effect waves-light btn-small" %> 
            </li>
        <% end %>
        </ul>
    </div>
</nav>
